@import '../libs/vars';

.cart__item {
	display: flex;
	gap: 20px;
	justify-content: space-between;

	padding: 20px;
	background: $itemBG;
	border-radius: 10px;

	.img__wrapper {
		width: 80px;
		height: 80px;
		object-fit: cover;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.about {
		flex: 1;
	}

	.wrapper {
		display: flex;
		gap: 60px;

		.price {
			display: flex;
			flex-direction: column;
			gap: 10px;
			min-width: 70px;
			text-align: right;

			.prevPrice {
				color: $blueAccent;
				text-decoration: line-through;
			}
		}
	}
}
