@import '../libs/vars';

.cart {
	.cart__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 35px;

		.cart__title {
			font-size: 30px;
		}

		.backToProducts__button {
			@extend %button;
			height: 100%;
		}
	}

	.items__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		padding: 30px 10px;

		.cart__items {
			width: 100%;
			font-size: 18px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
}

@import '../media.scss';
