@import '../libs/vars';

.filteringPanel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;

	.categoryBtn {
		background-color: transparent;
		border: none;
		cursor: pointer;

		.categoryTitle {
			font-size: 30px;
			line-height: 30px;
		}
	}
}
