@import '../libs/vars';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;

	&__logo {
		display: flex;
		align-items: center;
		gap: 10px;

		.logo__text {
			color: $blueAccent;
			font-size: 30px;
		}
	}

	.header__cart {
		border-radius: 50%;
		transition: box-shadow 0.2s;
		position: relative;

		.cart__wrapper {
			border-radius: 50%;
			transition: box-shadow 0.2s;
		}

		&:hover {
			-webkit-box-shadow: 0px 0px 30px 3px rgba(147, 228, 233, 0.2) inset;
			-moz-box-shadow: 0px 0px 30px 3px rgba(147, 228, 233, 0.2) inset;
			box-shadow: 0px 0px 30px 3px rgba(147, 228, 233, 0.2) inset;
			.cart__wrapper {
				-webkit-box-shadow: 0px 0px 8px 3px rgba(147, 228, 233, 0.2);
				-moz-box-shadow: 0px 0px 8px 3px rgba(147, 228, 233, 0.2);
				box-shadow: 0px 0px 8px 3px rgba(147, 228, 233, 0.2);
			}
		}
	}

	.totalQuantity {
		position: absolute;
		right: -5px;
		top: -5%;
		background-color: $redAccent;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		text-align: center;
		font-size: 14px;
	}
}
