@import '../libs/vars';

.slider {
	display: flex;
	gap: 10px;
	height: 100%;
	width: 100%;

	.sliderDots {
		display: flex;
		flex-direction: column;
		align-items: center;
		.item,
		.activeDot {
			box-sizing: content-box;
			width: 100px;
			height: 100px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.activeDot {
			border: 3px solid $blueAccent;
		}
	}

	.sliderWrapper {
		width: 100%;
		position: relative;

		.slide {
			width: 100%;
			height: 100%;
			background-size: contain;
			background-color: #fff;
			background-position: center;
			background-repeat: no-repeat;
		}

		.leftArrow,
		.rightArrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $blueAccent;
			font-size: 100px;
			left: 10px;
			cursor: pointer;
		}
		.rightArrow {
			left: auto;
			right: 10px;
		}
	}
}
