@import '../libs/vars';

.pagination {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 30px 0;

	.button {
		@extend %button;
		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	.page,
	.active {
		border-radius: 5px;
		cursor: pointer;
		transition: box-shadow 0.2s;

		&:hover {
			@extend %shadow;
			.page_link {
				@extend %shadowInset;
			}
		}

		.page_link {
			transition: box-shadow 0.2s;
			border-radius: 5px;
			padding: 10px;
			display: block;
		}
	}
	.active {
		@extend %shadow;
		.active_link {
			@extend %shadowInset;
		}
	}
}
