@import '../libs/vars';

.productPage {
	padding-bottom: 50px;

	.title {
		font-size: 30px;
		padding-top: 30px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	.rating {
		margin-bottom: 20px;
	}

	.info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;

		.slider__container {
			width: 700px;
			// height: 400px;
		}

		.mainInfo {
			min-width: 300px;
			border-radius: 10px;
			background: $itemBG;
			padding: 20px;
			font-size: 18px;
			margin-bottom: 30px;

			.price {
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px;

				.discountPrice {
					font-size: 24px;
					font-weight: bold;
				}

				.prevPrice {
					color: $redAccent;
					font-size: 20px;
					text-decoration: line-through;
				}
			}

			.addToCartBtn,
			.removeFromCartBtn {
				@extend %button;
				width: 100%;
				margin-bottom: 30px;
			}

			.removeFromCartBtn {
				opacity: 0.5;
			}
		}

		.description {
			width: 300px;

			.description__title {
				margin-bottom: 10px;
				font-size: 22px;
				color: $blueAccent;
			}
		}
	}

	.similar {
		&__title {
			margin-bottom: 20px;
			font-size: 22px;
			color: $blueAccent;
		}

		&__products {
			display: flex;
			gap: 30px;
		}
	}
}
