.quantity {
	align-self: center;

	.input {
		width: 30px;
		background-color: transparent;
		color: #fff;
		border: none;
		text-align: center;
		font-size: 18px;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
