@import './libs/vars';

.app {
	min-height: 100vh;
}

.container {
	max-width: 1196px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__wrapper {
	background: #0b131f;
}

.content__wrapper {
	background: $mainBG;
	min-height: calc(100vh - 100px);
}
