@import './libs/vars';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.app {
	min-height: 100vh;
	color: #ebf3ff;
}

.container {
	max-width: 1196px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__wrapper {
	background: #0b131f;
}

.content__wrapper {
	background: $mainBG;
	min-height: calc(100vh - 100px);
}

.slick-slider {
	max-width: 600px;

	.slick-arrow {
		z-index: 1;
		color: $blueAccent;
	}
	.slick-prev {
		left: 10px;
	}
	.slick-next {
		right: 10px;
	}

	.slick-track {
		max-height: 400px;

		.slick-slide {
			max-width: 600px;
			max-height: 400px;
			object-fit: contain;
			img {
				object-fit: contain;
			}
		}
		// overflow: hidden;
	}
}

@import './media.scss';
