@import './libs/vars';

.app {
	min-height: 100vh;
}

.container {
	max-width: 1196px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__wrapper {
	background: #0b131f;
}

.products__wrapper {
	background: rgb(10, 17, 31);
	background: linear-gradient(
		0deg,
		rgba(10, 17, 31, 1) 0%,
		rgba(8, 16, 30, 1) 100%
	);
	min-height: calc(100vh - 100px);
}
