@media (max-width: 1280px) {
	.products {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 1024px) {
	.cart {
		.items__wrapper {
			flex-direction: column;
		}
	}
	.totalPrice {
		position: initial;
	}
}
@media (max-width: 890px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
	}
	.filteringPanel {
		display: block;
		.categoryBtn {
			margin-bottom: 20px;
		}
	}
	.cart__item {
		.about {
			.title {
				max-width: 250px;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
}
@media (max-width: 700px) {
	.filteringPanel {
		display: block;
		.wrapper {
			display: block;
		}
	}
	.search {
		justify-content: space-between;
		&__container {
			width: 100%;
			.search__input {
				width: 100%;
			}
		}
	}
	.cart__item {
		flex-direction: column;
		.wrapper {
			justify-content: space-between;
		}
	}
}
@media (max-width: 590px) {
	.products {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 450px) {
	.cart__item {
		.about {
			.title {
				max-width: 130px;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
	.totalPrice {
		min-width: 200px;
	}
}
